/* =============extra large device responsive============ */
@media (max-width: 1399.98px) {
  :root {
    --primary_background_color: #1c1e53;
    --secondary_background_color: #f4f6fc;
    --primary_font_color: #282938;
    --secondary_font_color: #bbbbcb;
    --yellow_color: #fcd980;
    --transition: all 0.4s linear;
  }
  /* =======nav============ */
  .banner__title {
    font-size: 48px;
    line-height: 62px;
  }

  .feature__summary {
    font-size: 47px;
  }

  .feature__card__title {
    font-size: 20px;
  }

  .feature__card__summary {
    font-size: 15px;
  }

  .inquaryLeft__title {
    font-size: 40px;
    line-height: 51px;
  }

  .blogItem__title {
    font-size: 22px;
  }
  /* =======nav============ */
}
