@media (max-width: 1199.98px) {
  :root {
    --primary_background_color: #1c1e53;
    --secondary_background_color: #f4f6fc;
    --primary_font_color: #282938;
    --secondary_font_color: #bbbbcb;
    --yellow_color: #fcd980;
    --transition: all 0.4s linear;
  }
  /* =======nav============ */

  .customBtn {
    padding: 16px 48px;
    margin-left: 31px;
  }

  .customul {
    display: flex;
    align-items: center;
  }
  .banner__title {
    font-size: 41px;
    line-height: 58px;
  }

  .banner__btn {
    padding: 16px 166px;
  }

  .workRight__summary {
    padding: 0 27px;
  }

  .feature__summary {
    font-size: 38px;
    line-height: 50px;
  }

  .client__left {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .faqLeft__title {
    font-size: 32px;
  }

  .faq__title {
    font-size: 18px;
  }

  .faq__summary {
    font-size: 14px;
    line-height: 27px;
  }

  .inquaryLeft__title {
    font-size: 29px;
    line-height: 42px;
  }
  .inquaryLeft {
    padding: 96px 48px 0;
  }
  .inquaryRight {
    padding: 96px 44px 48px 44px;
    background-color: var(--primary_background_color);
  }
  .inquaryBtn {
    padding: 9px 0;
  }
  .blogItem__title {
    font-size: 18px;
  }
  .footerRight__title {
    font-size: 40px;
  }

  .footerRight__icon {
    margin-top: 7px;
  }
  /* =======footer============ */
}
